.body {
    


       /* diameter of the circle */
    --d: 2px; 
    background : radial-gradient(
        circle at 
            var(--d) 
            var(--d), 
            
        #ffffff79 calc(var(--d) - 1px), 
        #ffffff00 var(--d)
    ) 
        0 0 / 15px 15px;

    background-color: rgb(160, 193, 221);
   /* mask-image: linear-gradient(to bottom, #ffffff, #00000000); */
}

.icn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content:flex-start; 
    align-items:center;
    padding: 20px; /*Adds some spacing inside the container */
    gap: 20px;

    /* position: relative; */
    /* left: 30%;
    top: 0; */
 
    width: 90%;
    height: 80%;
    
    overflow-x: scroll;
    /* Firefox */
    scrollbar-width: none; 
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;  

    mask-image: linear-gradient(to right, transparent 0%, black 5%,black 95%, transparent 100%);
    
    /* border: 1px solid rgb(0, 0, 0);  */
    /* background-color: rgb(233, 233, 233); */
}


.icon_solid:hover ~ .icon_solid {
  transform: translateX(20px);
}
.icon_solid:has(~ .icon_solid:hover) {
    transform: translateX(-20px);
}


.icon_solid{
    display: flex;
    justify-content: top;
    align-items: center;

    flex-direction: column;

    min-width: 100px;

    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    
    padding: 10px;

    background-image: url("icons/icon_blue_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    cursor:pointer;
    border: none; 
    transition-duration: 0.5s;
}

.icon_solid:hover {
    transform: scale(1.25);
    transition-duration: 0.5s;
}

.icon_solid:active {
    border-color: blue;
    transition-duration: 0.5s;
}

.icon_solid input{
    max-width: 100%;
    height: auto;
    

    mask-image: url("icons/mask2.png");
    mask-position: center center;
    mask-size: cover; 
    mask-repeat: no-repeat;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content:center; 
    align-items:center;
    padding: 10px; /*Adds some spacing inside the container */
    gap: 20px;

    position: absolute;
    left: 33%;
    top: 0;
 
    width: 65%;
    height: 150px;
    
    border: none; /*1px solid rgb(0, 0, 0); */
    background-color: transparent;
}

.container_button {
    transition-duration: 0.5s;
}
.container_button:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}


.frame {
    position: absolute;
    top: 25%;
    margin: auto;
    width: 90%;
}

.blurry-frame {
    position: absolute;
    pointer-events: none;

}

.frame-overlay{
    position: absolute; /* Position over the content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Apply the blur effect to the background behind the overlay */
    pointer-events: none; /* Make the overlay itself unclickable, allowing clicks to pass to the blurred content */
  }

.bottom-group {
    position: absolute;
    bottom: 0;
}