.body {
    background-color: aquamarine;
}

.icn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content:flex-start; 
    align-items:center;
    padding: 20px; /*Adds some spacing inside the container */
    gap: 20px;

    position: absolute;
    left: 30%;
    top: 0;
 
    width: 65%;
    height: 150px;
    
    overflow-x: scroll;
    /* Firefox */
    scrollbar-width: none; 
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;  
    
    mask-image: linear-gradient(to right, transparent 0%, black 5%,black 95%, transparent 100%);
    
    /* border: 1px solid rgb(0, 0, 0);  */
    background-color: aqua;
}

.icon_solid:hover ~ .icon_solid {
  transform: translateX(20px);
  opacity: 0.9;
}
.icon_solid:has(~ .icon_solid:hover) {
    transform: translateX(-20px);
    opacity: 0.9;
}


.icon_solid{
    min-width: 100px;
    flex: 0 0 auto;
    width:100px;
    height:100px;
    
    background-image: url("icons/FoJYdD.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    cursor:pointer;
    border: 5px solid rgb(129, 129, 129); /* Essential for border-image to work */ 
    border-radius: 15px;
    transition-duration: 0.5s;
}

.icon_solid:hover {
    width: 150px;
    height: 150px;
    
    background-color: #f00;
    transition-duration: 0.5s;
}

.icon_solid:active {
    border-color: blue;
    transition-duration: 0.5s;
}

.icon_gradient{
    min-width: 100px;
    width:100px;
    height:100px;
    grid-row: 1;
    background-image: 
        linear-gradient(to bottom, rgba(91, 91, 91, 0), rgba(0, 0, 0, 0.1)), 
        url('icons/FoJYdD.png'),
        radial-gradient(circle at top left, rgb(221, 0, 255),#ffffff00),
        radial-gradient(circle at top left, #ffffff00,#0088ffde);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor:pointer;
    
    border: double 5px transparent;
    border-radius: 15px;
    background-origin: border-box;
    background-clip: border-box, padding-box, border-box;
    
    transition-duration: 0.5s;
}

.icon_gradient:hover {
    width:125px;
    height:125px;
    transition-duration: 0.5s;
}

.center-div{
    display: flex;
    align-items: center;
}
.frame {
    position: absolute;
    top: 35%;
    margin: auto;
    width: 90%;
}

.blurry-frame {
    position: absolute;
    pointer-events: none;

}
.frame-overlay{
    position: absolute; /* Position over the content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Apply the blur effect to the background behind the overlay */
    pointer-events: none; /* Make the overlay itself unclickable, allowing clicks to pass to the blurred content */
  }

.bottom-group {
    position: absolute;
    bottom: 0;
}